force-app/main/default/flows/OMS_Screen_OrderItemSelection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PBE_selection_Deserialiser</name>
        <label>PBE selection Deserialiser</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>DeserializeOrderItemsFromJson</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CREATE_Order_Items</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>orderItemsJson</name>
            <value>
                <elementReference>OrderItemSelector.outputDeltaJson</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DeserializeOrderItemsFromJson</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>orderItemCollectionToCreate_1</assignToReference>
            <name>orderItems</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Recuperer_les_PricebookEntry_JSON_pour_un_Order_Action_1</name>
        <label>Récupérer les PricebookEntry JSON pour un Order Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>GetPricebookEntriesFromOrder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>OrderItemSelectorScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderId</name>
            <value>
                <elementReference>GET_Order_Infos.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetPricebookEntriesFromOrder</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>OMS_Screen_OrderItemSelection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OMS - Screen - Order Item Selection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CREATE_Order_Items</name>
        <label>CREATE - Order Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>orderItemCollectionToCreate_1</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GET_Order_Infos</name>
        <label>GET - Order Infos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperer_les_PricebookEntry_JSON_pour_un_Order_Action_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>OrderItemSelectorScreen</name>
        <label>OrderItemSelectorScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PBE_selection_Deserialiser</targetReference>
        </connector>
        <fields>
            <name>OrderItemSelector</name>
            <extensionName>c:addOrderItemsFromPricebook</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>orderId</name>
                <value>
                    <elementReference>GET_Order_Infos.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputCatalogPriceBookEntriesJson</name>
                <value>
                    <elementReference>Recuperer_les_PricebookEntry_JSON_pour_un_Order_Action_1.catalogJson</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enableSearch</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_Order_Infos</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>orderItemCollectionToCreate_1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>orderItemCollectionToCreate_2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
